<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body onload="getcountry()">
    <div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row card0">
            <div class="card1 col-lg-8 col-md-7">
                <small>the.weather</small>
                <div class="text-center">
                    <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png">
                </div>
                <div class="row px-3 mt-3 mb-3">
                    <h1 class="large-font mr-3" id="cTemp">loading...&#176;</h1>
                    <div class="d-flex flex-column mr-3">
                        <h2 class="mt-3 mb-0" id="loc">loading...</h2>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <h3 class="fa fa-sun-o mt-4"></h3>
                    </div>
                </div>
            </div>
            <div class="card2 col-lg-4 col-md-5">
                <div class="row px-3">
                    
                </div>
                <div class="mr-5">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select name="country" id="country" class="form-control" onchange="getstate(value)">
                            <option value="">---Select Country---</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control" onchange="getcity(value)">
                            <option value="">---Select State---</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="city">City</label>
                        <select name="city" id="city" class="form-control" onchange="getweather(value)">
                            <option value="">---Select City---</option>
                        </select>
                    </div>
                    <div class="line my-5"></div>

                    <p>Weather Details</p>
                    
                    <div class="row px-3">
                       <h3  class="light-text">Humidity: <p id="cHumidity"></p></h3>
                    </div>
                    <div class="row px-3">
                       <h3 class="light-text">Pressure:<p  id="cPressure"></p></h3> 
                    </div>
                   

                    <div class="line mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/demo.js"></script>
</body>
</html>